body {
    background-image: linear-gradient(to top right,  #43cea2,   #185a9d);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   .navb{

    background-color:   #00cdac;
    height: 10vh;
    width: 100%;
    position: relative;
    list-style-type: none;
    margin-top: -0.5%;
   margin-left: -0.5%;


  }
  .navb img{
    position:absolute;
    height: 5vh;
}

li {
      
    display: inline;
    position: relative;
    padding-top:10% ;
  }
li a{
    color: aliceblue;
    font-family: Georgia, Times, 'Times New Roman', serif;
  }
  a{ 
    position: relative;
    top: 25px;
    /* padding-top:10% ; */
    margin-left: 5%;
    font-size: 30px;
    text-decoration: none;
    
    /* font-family: Georgia, Times, 'Times New Roman', serif; */

}
.Gallery{
    color: #185a9d;
}
.left{
  width: 50%;
  height: 10vh;
  background-color: aliceblue;
  margin-left: 5%;
  margin-top: 2%;
  position: relative;
  border-radius: 12px;
  transition: transform .2s;
}
.left:hover {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1.1); 
}
.left p{
  position: absolute;
  margin-left: 12%;
  font-size: 25px;
  margin-top: 3.5%;
}
.left img{
  position: absolute;
  width: 8%;
  margin-top: 1%;
  margin-left: 3%;
}
.right{
  width: 50%;
  height: 10vh;
  background-color: aliceblue;
  margin-left: 45%;
  margin-top: 2%;
  position: relative;
  border-radius: 12px;
  transition: transform .2s;
}
.right:hover {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1.1); 
}
.right p{
  position: absolute;
  margin-left: 12%;
  font-size: 25px;
  margin-top: 3.5%;
}
.right img{
  position: absolute;
  width: 8%;
  margin-top: 1%;
  margin-left: 3%;
}
.log{
  transition: transform .2s;
}

.log:hover{
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1.1); 
}
.link{
  margin-left: 75%;
  font-size: 20px;
  margin-top: 1.5%;
  position: absolute;
}
.div-ul-2{
  display: flex;
  flex-direction: row;
}

.div-ul-2 ul{
  list-style: none;
  display: inline-flex;
  margin-left: 105%;

}
.ul-2{
  margin-left:100%;
  margin-top: -1%;
  position: absolute;
   /* list-style-type: none; */
  /* display: inline-flex; */

} 
.ul-2 li img{
  /* position:absolute; */
  height: 3.5vh;
  /* display: inline; */
  list-style: none;
  text-decoration: none;
 
  /* margin-left: 100px; */
}
.ul-2 li{
/* float: left; */
  display:inline-flex;
  list-style: none;
  
  margin-left: 12%;

}
.div-2{
  width: 15%;
  position: absolute;
  display: flex;
    flex-direction: row;
}
.div-2 ul{
  width: 5%;
  /* position: absolute; */
  list-style: none;
  display: inline-flex;
  margin-left: 105%;
}
.div-2 img{
  /* width: 1%; */
  /* height: 3.5vh; */
}

.public-links{
  width: 25%;
    position: fixed;
    top: 0%;
    right: 5%;
    display: flex;
    column-gap: 5%;
}
.public-links li{
  width: 100%;
  padding-top: 0;
}
