body {
   
    background-image: linear-gradient(to top right,  #43cea2,   #185a9d);
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
   }
.navbar{

    background-color:   #00cdac;
    height: 10vh;
    width: 110%;
    position: fixed;
    list-style-type: none;
    margin-top: -0.5%;
    margin-left: -0.5%;
z-index: 10;
}
.log{
    transition: transform .2s;
}



.log:hover{
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1.1); 
}

 .ul_2{
    margin-left:100%;
    margin-top: -1%;
    position: absolute;
     /* list-style-type: none; */
    /* display: inline-flex; */

} 
.ul_2 li img{
    /* position:absolute; */
    height: 3.5vh;
    /* display: inline; */
    list-style: none;
    text-decoration: none;
   
    /* margin-left: 100px; */
}
.ul_2 li{
/* float: left; */
    display:inline-flex;
    list-style: none;
    
    margin-left: 12%;

}
.navbar img{
    position:absolute;
    height: 3vh;
    
}
.navbar li {
      
    display: inline;
    position: relative;
    /* padding-top:10% ; */
  }
li a{
    color: aliceblue;
    font-family: Georgia, Times, 'Times New Roman', serif;
  }

 a{ 
    position: relative;
    top: 25px;
    /* padding-top:10% ; */
    margin-left: 5%;
    font-size: 30px;
    text-decoration: none;
    
    /* font-family: Georgia, Times, 'Times New Roman', serif; */

}
.index{
    color: #185a9d;
}
.tab{
    width: 50%;
    height: 45vh;
    background-color: aliceblue;
    border-radius: 25px;
    margin-left: 25%;
    margin-top: 15%;
}
p{
    font-size: 30px;
    /* margin-top: 5%; */
    margin-left: 5%;
    text-align: justify;
    padding-top: 15%;
    width:90% ;
    border-radius: 25px;
    line-height: 1.5em;
    
    /* background-color: #185a9d; */
}
.profile{
    height: 23vh;
    width: 11%;
    border-radius:100%;
    position:absolute;
    margin-left: 43%;
    margin-top: 8%;
    border: 10px solid #43cea2;
    transition: transform .2s;
}
.profile:hover{
    -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1.1); 
}
.rm{
    top:-15px;
    font-size: 20px;
    position: relative;
    margin-left: 80%;
    color: #185a9d;
    font-weight: bold;
}
/* 
.project{
    
    width: 50%;
    height: 30vh;
    margin-top: 150px;
    margin-left: 700px;
    background-color: white;
} */
#project{
    width: 1200px;
    height: 40vh;
    margin-top: 10%;
    border-radius: 20px;
    margin-left: 25%;
    background-color: white;
}
.project-content{
font-size: 25px;
padding: 0%;
margin-left: 45%;
/* margin-top: 5%; */
/* display: flex; */
}
.p-div-1{
    position: absolute;
    margin-top: 8%;
    width: 50%;
    height: 30vh;
    margin-left: -15%;
    /* display: inline-flex; */
    /* background-color: lightcoral; */
}
.p-div-2{
    position: absolute;
    margin-top: 8%;
    width: 50%;
    height: 30vh;
    margin-left: 30%;
    /* display: inline-flex; */
    /* background-color: lightcoral; */
}

.div-ul-2{
    display: flex;
    flex-direction: row;
}

.div-ul-2 ul{
    list-style: none;
    display: inline-flex;
    margin-left: 105%;

}
.p-div-2 a{
    top: -5%;
    font-size: 20px;
}
.project-no{
position: absolute;
margin-top: -12%;
color:#185a9d;
}
.public-links{
    width: 25%;
      position: fixed;
      top: 0%;
      right: 3%;
      display: flex;
      column-gap: 5%;
  }
  .public-links li{
    width: 100%;
    padding-top: 0;
  }